body {
  margin: 0;
  text-align: center;
  background: #fff;
}

body.ar { font-family: Cairo; direction: rtl; }
body.en { font-family: 'Playfair Display'; direction: ltr; }

#welcomeScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}

#namesAr {
  width: 80%;
  max-width: 420px;
  display: none;
}

#namesEn {
  font-size: 42px;
  color: #c9a227;
}

#time {
  color: #c9a227;
  font-size: 22px;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.countdown div {
  background: #c9a227;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

/* 🔥 موبايل */
@media (max-width:600px){

  #namesAr {
    width: 90%;
    max-width: 300px;
  }

  #namesEn {
    font-size: 26px;
  }

  .countdown {
    flex-wrap: wrap;
  }

  button, #locationBtn {
    width: 90%;
  }
}